@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Медиатвари

/*
0 - 600px: Телефон
600 - 900px: Планшет
900 - 1200px: Планшеты в горизонте
[1200 - 1800]: Комп
1800px + : Большие экраны
*/

/*breakpoint argument choises:
- phone
- tab-port
- tab-land
- big-desctop
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      //900px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    //1200px
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desctop {
    @media (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}
